.menu-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.menu-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.menu-item h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.menu-item p {
    font-size: 1em;
    color: #555;
}

.menu-item .price {
    font-weight: bold;
    color: #000;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header{
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    background-color: #4C2B18;
    width: 100%;
    padding: 15px;
}

.headerButton {
    text-decoration: none;
    color: #FFD9B4; /* Button text color */
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: transparent; /* Transparent background for links */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.headerButton:hover {
    background-color: #88422A; /* Hover background color */
    color: white; /* Hover text color */
}

.buttonText{
    color: white;
    border: 1px solid white;
    border-radius: 6px;
    padding: 5px;
    text-decoration: none;
}

.mainPage{
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw; /* Ocupa el 100% del ancho de la ventana, viewport width o ancho del área*/
    height: 100vh; /* Ocupa el 100% de la altura de la ventana, viewport height o altura del área de visualización*/
    align-items: center; 
    justify-content: center; 
}

.logoutButton {
    color: white;
    border: 1px solid white;
    border-radius: 6px;
    padding: 6px 12px;
    text-decoration: none;
    background-color: transparent;
}

.logoutButton:hover {
    background-color: #fff;
    color: #4C2B18; /* Change text color on hover */
}

.products-container {
    background-color: white; /* Set the background color to white */
    padding: 20px; /* Add some padding for spacing */
    border-radius: 8px; /* Optional: Add rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
    margin: 20px auto; /* Center the container and add spacing */
    max-width: 1200px; /* Optional: Limit the width of the container */
}

