body{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/FotoBackgroundInicioSecion.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh; 
}

.containerOrden{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 40%;
    text-align: center;
    flex-direction: column;
    background-color: #BF7D3B;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(17, 17, 17, 0.5);
    color: white;
}

.btnRegresarIndex{
    text-decoration: none;
    color: white;
    border: white 1px solid;
    border-radius: 5px;
    padding: 8px;
}

.btnRegresarIndex:hover{
    background-color:white;
    color: #BF7D3B;
    transition: 0.5s;
}